body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding-left: 3rem;
    padding-top: 3rem;
}


header{
    display: inline-block;
}


a{
    color: black;
    margin: 2rem;

    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}


.hi{
    padding: 0;
    margin: 0;
}


main{
    display: flex;
}


section{
    margin-top: 5rem;
    display: inline-block;
}


.name{
    color: rgba(0, 0, 0, 2);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}


.fashion{
    color: black;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
}


p{
    padding-top: 0;
    margin: 0;
    font-size: 17px;
}


button a{
    color: white;
}


button{
    margin-top: 2rem;
    background-color: black;
}


section .image{
    margin-left: 1rem;
    margin-right: 1rem;
}


section div img {
    height: 220px;
    width: 200px;

    margin-top: 2rem;
    border-radius: 2rem;
    
}


.image1{
        width: 550px;
        height: 730px;

        margin-left: 5rem;
        border-radius: 3rem;
}